* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "IBM Plex Serif", serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x:hidden
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px 67px;
  font-weight: 500;
}

ul {
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-right: 314px;
  cursor: pointer;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar li .1 {
  position: absolute;
  width: 69px;
  height: 25px;
  left: 314px;
  top: 47px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.navbar :hover {
  transform: scale(1.1);
}

.touch2 {
  width: 135px;
  height: 45px;
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Content Box */
.content-box img {
  width: 100%;
  left: 33px;
  top: 127px;
  margin-top: -30px;
}
.content-box {
  position: relative;
}

.content {
  background-color: #ffc867;
  display: inline-block;
  position: absolute;
  top: 50;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 50px 41px;
  width: 495px;

  height: 395px;
  /* text-align: left; */
  font-family: "Manrope";
  font-style: normal;
  border-radius: 20px;
  padding: 0 20px;
  /* position: relative; */
}

.content h1 {
  font-size: 40px;
  font-family: "Manrope";
  padding: 0 10px;
}
.content .details {
  font-size: 25px;
  padding: 10px;
}

.content a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
  margin-left: -10px;
  position: absolute;
  bottom: 20px;
  left: 40px;
  padding: 10px;
}

/* PAGE 2 */
/* part one */
.container1 {
  background-color: #000;
  position: relative;
  width: 100%;
}
.para {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 500px;
}

.p1 {
  width: 450px;
  height: 98px;
  left: 240px;
  top: 103px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  margin-top: 45px;
  color: #fff;
}

.p2 {
  width: 385px;
  height: 87px;
  left: 1291px;
  top: 109px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  margin-top: 45px;
  color: #fff;
}
/* part one */
.scientist {
  background-color: rgba(0, 0, 255, 0.577);
  display: inline-block;
  margin: 100px 200px;
  border-radius: 10px;
  padding: 10px;
  width: 290px;
  top: 100px;
  animation-name: scientistleft;
    animation-duration: 0.8s;
    transform-style: preserve-3d;
  
  }
    @keyframes scientistleft {
      0% {
          opacity: 0;
          transform: translateX(-100px);
      }
  
      80% {
          transform: translateX(10px);
      }
      100% {
          opacity: 1;
          transform: translate(0);
      }
  }
  

.scientist img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.designation1 {
  display: inline-block;
  /* margin-left: 10px; */
  margin: 10px;
  padding-top: -20px;
}

.position1 {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.66);
}
.work1 {
  font-size: 14px;
  color: lightseagreen;
  font-weight: 200;
  font-family: "Manrope";
}

.designer {
  background-color: #fff;
  display: inline-block;
  margin: 150px 300px;
  border-radius: 10px;
  padding: 10px;
  width: 290px;
  animation-name: designerleft;
    animation-duration: 0.8s;
    transform-style: preserve-3d;
  
  }
    @keyframes designerleft {
      0% {
          opacity: 0;
          transform: translateX(-100px);
      }
  
      80% {
          transform: translateX(10px);
      }
      100% {
          opacity: 1;
          transform: translate(0);
      }
  }

.designer img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.designation2 {
  display: inline-block;

  margin: 10px;
}

.position2 {
  font-size: 11px;
  color: rgba(0, 0, 255, 0.496);
}
.work2 {
  font-size: 14px;
  color: blue;
  font-weight: 200;
  font-family: "Manrope";
}

/* part one over */

/* part two */
.iphone {
  width: 413.18px;
  height: 584.98px;
  /* margin-left: 755.76px; */
  position: absolute;
  top: 100px;
  left: 650px;
  z-index: 1;
  animation: like 5s 2s infinite linear; 
  /* font-size: 40px;   */
  transform:  scale( 1 ) ;
    transform: rotateX(90deg)  translateZ(-50px) ;
    transition: transform 0.8s;
  box-shadow:-10px 20px whitesmoke
   transform-style: preserve-3d;  
}
@keyframes like {
  0% {
    transform: rotateX(90) translateZ(-30px)  ;
  }
  10% {
    transform: rotateX(40) translateZ(-30px);
  }
  50% {
    transform: rotateX(50) translateZ(-30px) ;
  }
  80%,
  100% {
    transform: rotateX(0) translateZ(-30px) ;
  }
}


.iphone-frame {
  width: 450.74px;
  height: 625px;
  position: absolute;
  left: 630px;
  top: 95px;
  display: inline-block;
   animation: like 5s 2s infinite linear; 
  /* font-size: 40px;   */
  transform:  scale( 1 ) ;
    transform: rotateX(90deg)  translateZ(-30px);
    transition: transform 0.8s;
  box-shadow:-10px 20px whitesmoke
   transform-style: preserve-3d;  
}
@keyframes like {
  0% {
    transform: rotateX(90) translateZ(-30px);
  }
  10% {
    transform: rotateX(40) translateZ(-30px);
  }
  50% {
    transform: rotateX(50) translateZ(-30px);
  }
  80%,
  100% {
    transform: rotateX(0) translateZ(-30px);
  }
}
/* part two over */

/* part three */
.student {
  background-color: rgb(255, 166, 0);
  display: inline-block;
  margin: 100px 1087px;
  border-radius: 10px;
  padding: 10px;
  width: 290px;
  position: absolute;
  top: 100px;
  left: 0.5px;
  animation-name: researcherRight;
    animation-duration: 0.8s;
    transform-style: preserve-3d;
  
  }
    @keyframes researcherRight {
      0% {
          opacity: 0;
          transform: translateX(100px);
      }
  
      80% {
          transform: translateX(10px);
      }
      100% {
          opacity: 1;
          transform: translate(0);
      }
  }
  

.student img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.designation3 {
  display: inline-block;
  /* margin-left: 10px; */
  margin: 10px;
  padding-top: -20px;
}

.position3 {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.66);
}
.work3 {
  font-size: 14px;
  color: black;
  font-weight: 200;
  font-family: "Manrope";
}

.researcher {
  background-color: pink;
  display: inline-block;
  margin: 100px 1087px;
  border-radius: 10px;
  padding: 10px;
  width: 290px;
  position: absolute;
  top: 400px;
  left: 70px;
  animation-name: researcherRight;
    animation-duration: 0.8s;
    transform-style: preserve-3d;
  
  }
    @keyframes researcherRight {
      0% {
          opacity: 0;
          transform: translateX(100px);
      }
  
      80% {
          transform: translateX(-10px);
      }
      100% {
          opacity: 1;
          transform: translate(0);
      }
  }

.researcher img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.designation4 {
  display: inline-block;
  /* margin-left: 10px; */
  margin: 10px;
  padding-top: -20px;
}

.position4 {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.66);
}
.work4 {
  font-size: 14px;
  color: black;
  font-weight: 200;
  font-family: "Manrope";
}

/* third page */
.container2 {
  background-color: #fff;
  position: relative;
}
h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  padding: 78px 150px;
}

.install {
  width: 300px;
  height: 400px;
  margin: 0 30px;
}
.signup {
  width: 300px;
  height: 400px;
}
.find {
  width: 290px;
  height: 400px;
}

.install img {
  width: 100px;
  height: 100px;
  /* margin: 230px 240px; */
}

.signup img {
  width: 100px;
  height: 100px;
}
.find img {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #fff;
}

.find {
  background-color: #fff;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
}

.step-install {
  /* margin: 350px 240px; */
}

.install-content {
  font-family: "Manrope";
  font-style: normal;

  font-size: 18px;
  line-height: 180%;
  /* margin: 399px 240px; */
}

.signup-content {
  font-family: "Manrope";
  font-style: normal;

  font-size: 18px;
  line-height: 180%;
}

.find-content {
  font-family: "Manrope";
  font-style: normal;

  font-size: 18px;
  line-height: 180%;
}

.gallery img {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  margin-top: -50px;
}



.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 15px;
  transform: scale(1.1);
  animation-name: researcherRight;
  animation-duration: 4s;
}

  

  @keyframes researcherRight {
    0% {
        opacity: 0;
        transform: translateX(-1000px);
    }

    80% {
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translate(-1000);
    }
}
  
  


/* box */

.box1 {
  background-color: #fff;
  position: absolute;

  width: 500px;
  height: 250px;
  left: 50px;
  top: 890px;
  border-radius: 10px;
  padding: 10px;
}

.box img {
  width: 1500px;
  margin-top: 30px;
  margin-left: 10px;
}

.web {
  font-size: 28px;
  color: blue;
}

.p1 {
  margin-bottom: -30px;
}

.p2 {
  margin-bottom: -50px;
}

.p3 {
  font-size: 18px;
}
.p5 {
  margin-top: 5px;
}
.author1 img {
  width: 50px;
  height: 50px;
}
.author2 img {
  width: 50px;
  height: 50px;
}
.author3 img {
  width: 50px;
  height: 50px;
}
.author4 img {
  width: 50px;
  height: 50px;
}

.author-details {
  display: inline-block;
  margin-top: -50px;
}

.zepier {
  font-size: 28px;
  color: orangered;
}
.p4 {
  font-size: 18px;
  margin-bottom: 30px;
}

.maingirl img {
  height: 450px;

  width: 350px;
  height: 600px;
  position: absolute;

  left: 585px;
  top: 890px;
}
.icon img {
  width: 25px;
  height: 25px;
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.box3 {
  background-color: #fff;
  position: absolute;

  width: 500px;
  height: 250px;
  right: 50px;
  top: 890px;
  border-radius: 10px;
  padding: 10px;
}

.box2 {
  background-color: #fff;
  position: absolute;

  width: 500px;
  height: 250px;
  left: 50px;
  top: 1205px;
  border-radius: 10px;
  padding: 10px;
}
.box4 {
  background-color: white;
  position: absolute;

  width: 500px;
  height: 250px;
  right: 50px;
  top: 1965px;
  border-radius: 10px;
  padding: 10px;
}

.author-details1 {
  display: inline-block;
}

.author-details2 {
  display: inline-block;
  margin-top: 0x;
  margin-left: 10px;
}
.author1 {
  margin-top: -10px;
}

.author2 {
  margin-top: -35px;
}
.author3 {
  margin-top: 20px;
}
.p5 {
  font-size: 18px;
  margin-bottom: 30px;
}
.p6 {
  font-size: 18px;
  margin-bottom: 30px;
}
/* third page ends */

/* fourth page */
.container3 {
  margin-top: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.799);
}

.pricing {
  left: 240px;
  top: 98px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}

.pricing-details {
  width: 350px;
  height: 58px;
  left: 1291px;
  top: 94px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;
  color: #fff;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}
.tick1,.tick2,.tick3,.tick4,.tick5{
  width: 15px;
  height: 15px;
  font-weight: bold;
}


/* item1 */
.item1 {
  background-color: #000;
  display: inline-block;
  width: 336px;
  height: 680px;
  left: 240px;
  top: 206px;
  border-radius: 20px;
  padding: 30px;
  color: #fff;
}
.item1:hover {
  transform: scale(1.1);
  border: solid 0.2px yellow;
}
.listen {
  font-size: 18px;
  font-weight: 600;
}
.li1 {
  font-size: 14px;
  font-weight: 500;
}
.upto {
  font-size: 12px;
  font-weight: 500;
  margin-left: 35px;
}
.M1 {
  font-size: 11px;
  font-weight: 500;
  margin-left: 35px;
}
.li2,.li3,.li4,.li5 {
  font-size: 14px;
  font-weight: 500;
}

.upto2 {
  font-size: 13px;
  font-weight: 500;
  margin-left: 35px;
}
.offer {
  font-size: 14px;
}
.button {
  width: 291px;
  height: 42px;
  left: 263px;
  top: 769px;
  background-color:#339af0;
  color: #fff;
  border-radius: 10px;
  border: none;
}

.link {
  font-size: 13px;
  text-align: center;
}
.a {
  color: #fff;
}

/* item2 */
.item2 {
  background-color: #000;
  display: inline-block;
  width: 336px;
  height: 680px;
  left: 240px;
  top: 206px;
  border-radius: 20px;
  padding: 30px;
  color: #fff;
}
.item2:hover {
  transform: scale(1.1);
  border: solid 0.2px yellow;
}
.listen {
  font-size: 18px;
  font-weight: 600;
}
.li1 {
  font-size: 14px;
  font-weight: 500;
}
.upto {
  font-size: 12px;
  font-weight: 500;
  margin-left: 35px;
}
.M1 {
  font-size: 11px;
  font-weight: 500;
  margin-left: 35px;
}
.li2,.li3,.li4,.li5 {
  font-size: 14px;
  font-weight: 500;
}

.upto2 {
  font-size: 13px;
  font-weight: 500;
  margin-left: 35px;
}
.offer {
  font-size: 14px;
}
.button {
  width: 291px;
  height: 42px;
  left: 263px;
  top: 769px;
  background-color: #339af0;
  border-radius: 10px;
  border: none;
}

.link {
  font-size: 13px;
  text-align: center;
}
.a {
  color: #fff;
}

/* item3 */
.item3 {
  background-color: #000;
  display: inline-block;
  width: 336px;
  height: 680px;
  left: 240px;
  top: 206px;
  border-radius: 20px;
  padding: 30px;
  color: #fff;
}
.item3:hover {
  transform: scale(1.1);
  border: solid 0.2px yellow;
}
.listen {
  font-size: 18px;
  font-weight: 600;
}
.li1 {
  font-size: 14px;
  font-weight: 500;
}
.upto {
  font-size: 12px;
  font-weight: 500;
  margin-left: 35px;
}
.M1 {
  font-size: 11px;
  font-weight: 500;
  margin-left: 35px;
}
.li2,.li3,.li4,.li5 {
  font-size: 14px;
  font-weight: 500;
}

.upto2 {
  font-size: 13px;
  font-weight: 500;
  margin-left: 35px;
}
.offer {
  font-size: 14px;
}
.button {
  width: 291px;
  height: 42px;
  left: 263px;
  top: 769px;
  background-color:#339af0;
  border-radius: 10px;
  border: none;
}

.link {
  font-size: 13px;
  text-align: center;
}
.a {
  color: #fff;
}
/* item4 */
.item4 {
  background-color: #000;
  display: inline-block;
  width: 336px;
  height: 680px;
  left: 240px;
  top: 206px;
  border-radius: 20px;
  padding: 30px;
  color: #fff;
}
.item4:hover {
  transform: scale(1.1);
  border: solid 0.2px yellow;
}
.listen {
  font-size: 18px;
  font-weight: 600;
}
.li1 {
  font-size: 14px;
  font-weight: 500;
}
.upto {
  font-size: 12px;
  font-weight: 500;
  margin-left: 35px;
}
.M1 {
  font-size: 11px;
  font-weight: 500;
  margin-left: 35px;
}
.li2,.li3,.li4,.li5 {
  font-size: 14px;
  font-weight: 500;
}

.upto2 {
  font-size: 13px;
  font-weight: 500;
  margin-left: 35px;
}
.offer {
  font-size: 14px;
}
.button {
  width: 291px;
  height: 42px;
  left: 263px;
  top: 769px;
  background-color: #339af0;
  border-radius: 10px;
  border: none;
}

.link {
  font-size: 13px;
  text-align: center;
}
.a {
  color: #fff;
}

.table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}


